################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XML_Splitter/obj/Debug/net7.0/XML_Splitter.csproj.AssemblyReference.cache
/XML_Splitter/obj/Debug/net7.0/XML_Splitter.GeneratedMSBuildEditorConfig.editorconfig
/.vs/AMI_XML_Splitter/FileContentIndex
/.vs/slnx.sqlite
